{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Videos">Chris Vidéos</a>
        </div>
        <div class="navbar-collapse collapse">
	<div id="text_login" class="navbar-right"></div>
          <form id="form_login" class="navbar-form navbar-right" >
            <div class="form-group">
              <input type="text" name="username" id="username" placeholder="Utilisateur" class="form-control" size="20">
            </div>
            <div class="form-group">
              <input type="password" id="password" placeholder="Mot de passe" class="form-control" size="20">
		<input type="hidden" name="strcrypt" id="strcrypt" size="33" />
            </div>
		<button id="button_post" class="btn btn-success">Connexion</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	<h1>Bienvenue à tous</h1>
        <p>Veuillez-vous authentifier pour accèder rapidement à toutes vos vidéos.</p>
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
<div class="container">

     <!--  <div class="page-header">
        <h1>Chris Videos</h1>
        <p class="lead">Accèder rapidement à toutes vos vidéos.</p>
      </div> -->
<div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" role="form" method=post action="search">
            <div class="form-group">
              <input type="text" name="search" placeholder="Entrer des mots clés" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Rechercher une vidéo sur le web</button>
          </form>
        </div><!--/.navbar-collapse -->

{% if searchResult != null %}
{% if searchResult.movies|length > 0 %}
<h2>Films</h2>
      <div class="row">
	 {% for film in searchResult.movies %}

        <div class="col-md-3">
		<p><img src="{{ film.imageWebpath }}" class="img-thumbnail" alt="image absente" /><br/><a href="{{ film.href }}" title="Genre: {{ film.genre }}&#10;Pays: {{ film.nationality }}">{{ film.title }} 
		{% if film.productionYear != '' %}
			({{ film.productionYear }})
		{% endif %}
		</a>
		</p>
        </div>
	{% endfor %}

      </div>
<hr>
{% endif %}

{% if searchResult.tvseries|length > 0 %}

<h2>Series</h2>
      <div class="row">
	{% for film in searchResult.tvseries %}

        <div class="col-md-3">
                <p><img src="{{ film.imageWebpath }}" class="img-thumbnail" alt="image absente"/><br/>{{ film.title }} 
		{% if film.productionYear != '' %}
                        ({{ film.productionYear }})
                {% endif %}
		</p>
        </div>
	{% endfor %}

      </div>
<hr>
{% endif %}
{% endif %}


<script src="http://api.jquery.cmm/resources/events.js"></script>
<script src="js/sha1.js"></script>
<script type="text/javascript"><!--
function SHA1(msg){function rotate_left(n,s){var t4=(n<<s)|(n>>>(32-s));return t4;};function lsb_hex(val){var str="";var i;var vh;var vl;for(i=0;i<=6;i+=2){vh=(val>>>(i*4+4))&0x0f;vl=(val>>>(i*4))&0x0f;str+=vh.toString(16)+vl.toString(16);}
return str;};function cvt_hex(val){var str="";var i;var v;for(i=7;i>=0;i--){v=(val>>>(i*4))&0x0f;str+=v.toString(16);}
return str;};function Utf8Encode(string){string=string.replace(/\r\n/g,"\n");var utftext="";for(var n=0;n<string.length;n++){var c=string.charCodeAt(n);if(c<128){utftext+=String.fromCharCode(c);}
else if((c>127)&&(c<2048)){utftext+=String.fromCharCode((c>>6)|192);utftext+=String.fromCharCode((c&63)|128);}
else{utftext+=String.fromCharCode((c>>12)|224);utftext+=String.fromCharCode(((c>>6)&63)|128);utftext+=String.fromCharCode((c&63)|128);}}
return utftext;};var blockstart;var i,j;var W=new Array(80);var H0=0x67452301;var H1=0xEFCDAB89;var H2=0x98BADCFE;var H3=0x10325476;var H4=0xC3D2E1F0;var A,B,C,D,E;var temp;msg=Utf8Encode(msg);var msg_len=msg.length;var word_array=new Array();for(i=0;i<msg_len-3;i+=4){j=msg.charCodeAt(i)<<24|msg.charCodeAt(i+1)<<16|msg.charCodeAt(i+2)<<8|msg.charCodeAt(i+3);word_array.push(j);}
switch(msg_len%4){case 0:i=0x080000000;break;case 1:i=msg.charCodeAt(msg_len-1)<<24|0x0800000;break;case 2:i=msg.charCodeAt(msg_len-2)<<24|msg.charCodeAt(msg_len-1)<<16|0x08000;break;case 3:i=msg.charCodeAt(msg_len-3)<<24|msg.charCodeAt(msg_len-2)<<16|msg.charCodeAt(msg_len-1)<<8|0x80;break;}
word_array.push(i);while((word_array.length%16)!=14)word_array.push(0);word_array.push(msg_len>>>29);word_array.push((msg_len<<3)&0x0ffffffff);for(blockstart=0;blockstart<word_array.length;blockstart+=16){for(i=0;i<16;i++)W[i]=word_array[blockstart+i];for(i=16;i<=79;i++)W[i]=rotate_left(W[i-3]^W[i-8]^W[i-14]^W[i-16],1);A=H0;B=H1;C=H2;D=H3;E=H4;for(i=0;i<=19;i++){temp=(rotate_left(A,5)+((B&C)|(~B&D))+E+W[i]+0x5A827999)&0x0ffffffff;E=D;D=C;C=rotate_left(B,30);B=A;A=temp;}
for(i=20;i<=39;i++){temp=(rotate_left(A,5)+(B^C^D)+E+W[i]+0x6ED9EBA1)&0x0ffffffff;E=D;D=C;C=rotate_left(B,30);B=A;A=temp;}
for(i=40;i<=59;i++){temp=(rotate_left(A,5)+((B&C)|(B&D)|(C&D))+E+W[i]+0x8F1BBCDC)&0x0ffffffff;E=D;D=C;C=rotate_left(B,30);B=A;A=temp;}
for(i=60;i<=79;i++){temp=(rotate_left(A,5)+(B^C^D)+E+W[i]+0xCA62C1D6)&0x0ffffffff;E=D;D=C;C=rotate_left(B,30);B=A;A=temp;}
H0=(H0+A)&0x0ffffffff;H1=(H1+B)&0x0ffffffff;H2=(H2+C)&0x0ffffffff;H3=(H3+D)&0x0ffffffff;H4=(H4+E)&0x0ffffffff;}
var temp=cvt_hex(H0)+cvt_hex(H1)+cvt_hex(H2)+cvt_hex(H3)+cvt_hex(H4);return temp.toLowerCase();}
document.getElementById('cryptstr').onclick=function(){var txt_string=document.getElementById('strex').value;document.getElementById('strcrypt').value=SHA1(txt_string);return false;}
//-->
</script>
<!-- <script src="/resources/events.js"></script> -->
<script>
$('#form_login').on('submit', function(){
	$("#strcrypt").val(SHA1($("#password").val()));
	$.post( "Videos/login", $( "#form_login" ).serialize(), function( data ) {
	if( data.userid !== 'undefined' && data.userid >= 0 )
		{
		$('#form_login').hide();
		$('#text_login').html('<font color="white">Connecté en tant que <b>' + data.username + '</b> - </font><a href="Videos/logout">Se déconnecter</a>');
		}
});
	return false;
});
$( "#password" ).keypress(function( event ) {
	//alert("");
	//event.preventDefault();

/*if ( event.which == 13 ) {
	alert("");
	event.preventDefault();
}*/
	//$( "#strcypt" ).value = SHA1( $( "#password" ).value);
	// .val("fgg");
	//$( "#strcypt" ).val(SHA1( $("#password").val() ));
	//var passwd = $("#password").val() + String.fromCharCode(event.which);
	//alert( passwd );
	//var encrypt =  SHA1(passwd) ;
	//alert(encrypt);
	//$("#strcrypt").val(encrypt);
	//event.preventDefault();

});
</script>


        <div class="footer">
                &copy; Copyright 2014 by chris.
	</div>

        </div> <!-- /container -->
{% endblock %}    

{% block footer %}
    {{ parent() }}
{% endblock %}

