{% extends "app.twig" %}

{% block title %}Index{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}
  {{ parent() }}
{% endblock %}
{% block content %}    
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	<div class="row">
		<div class="col-md-6"><h1>Bienvenue à tous</h1></div> 
		<div class="col-md-6">
		</div>
	</div>
	<div class="row">
                <div class="col-md-7"><p>Veuillez-vous authentifier pour accèder rapidement à toutes vos vidéos.</p></div>
		<div class="col-md-5">
                        <br/>
                        <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-left" role="form" method=post action="search">
                        <div class="form-group">
                        <input type="text" name="search" placeholder="Entrer des mots clés" class="form-control">
                        </div>
                        <!-- <button type="submit" class="btn btn-primary">Rechercher une vidéo</button> -->
			<div class="btn-group">
  <button class="btn btn-primary">Rechercher une Vidéo</button>
  <button id="search_option" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> </button>
  <ul class="dropdown-menu">
    <li><a href="#"> Sur le Web</a></li>
    <li><a href="#"> En local</a></li>
  </ul>
</div>
                        </form>
                        </div>
                </div>
	</div>	
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
<div class="container">

     <!--  <div class="page-header">
        <h1>Chris Videos</h1>
        <p class="lead">Accèder rapidement à toutes vos vidéos.</p>
      </div> -->

{% if searchResult != null %}
{% if searchResult.movies|length > 0 %}
<h2>Films</h2>
      <div class="row">
	 {% for film in searchResult.movies %}

        <div class="col-md-3">
		<p><img src="{{ film.imageWebpath }}" class="img-thumbnail" alt="image absente" /><br/><a href="{{ film.href }}" title="Genre: {{ film.genre }}&#10;Pays: {{ film.nationality }}">{{ film.title }} 
		{% if film.productionYear != '' %}
			({{ film.productionYear }})
		{% endif %}
		</a>
		</p>
        </div>
	{% endfor %}

      </div>
<hr>
{% endif %}

{% if searchResult.tvseries|length > 0 %}

<h2>Series</h2>
      <div class="row">
	{% for film in searchResult.tvseries %}

        <div class="col-md-3">
                <p><img src="{{ film.imageWebpath }}" class="img-thumbnail" alt="image absente"/><br/>{{ film.title }} 
		{% if film.productionYear != '' %}
                        ({{ film.productionYear }})
                {% endif %}
		</p>
        </div>
	{% endfor %}

      </div>
<hr>
{% endif %}
{% endif %}
<div class="row">
<div class="col-md-3" align="center">
                <p><img src="images/film-reel.jpg" width="150" class="img-thumbnail" /></p>
		<button class="btn btn-success">Voir les Films</button>
</div>
<div class="col-md-3" align="center">
                <p><img src="images/film-reel.jpg" width="150" class="img-thumbnail" /></p>
		<button class="btn btn-success">Voir les Séries</button>
</div>
</div>
<br/>
<br/>
{% endblock %}

{% block bottom %}
  {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

