{% extends "app.twig" %}

{% block title %}Perso{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}
  {{ parent() }}
{% endblock %}
{% block content %}    
<style >

<!-- @media (max-width: 425px) {
#fixedcarousel .slider-size {
height: 400px; //This is your slider height
width: 250px;
}
}
@media (min-width: 425px) {
#fixedcarousel .slider-size {
height: 400px; //This is your slider height
width: 100%;
}
-->
#fixedcarousel .slider-size {
height: 500px; //This is your slider height
width: 100%;
}

</style>
<!-- Main jumbotron for a primary marketing message or call to action <div class="jumbotron"> </div> -->
<div><br/><br/><br/></div>

<div class="container-fluid">
<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#news" data-toggle="tab">Nouveautés </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Films <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#films-genre" id="films-genre-tab" data-toggle="tab">genre</a></li>
          <li><a href="#films-year" id="films-year-tab"  data-toggle="tab">date</a></li>
	  <li><a href="#films-country" id="films-country-tab"  data-toggle="tab">pays</a></li>
        </ul>
      </li>
	<li><a href="#series" id="series-tab" data-toggle="tab">Series </a></li>
	{% if userAuth.is_granted_role("ROLE_ADMIN") %}
		<li><a href="#indexes" id="indexes-tab" data-toggle="tab">Téléchargements </a></li>
	{% endif %}
	
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="news">
	<div class="row">
		<div class="col-md-7" style="min-width: 410px">
 			<div id="fixedcarousel" class="carousel slide" data-ride="carousel">
  			<!-- Indicators -->
  			<ol class="carousel-indicators">
    			{% for key,value in lastFilms %}
				<li data-target="#fixedcarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %} ></li>
    			{% endfor %}
  			</ol>	
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
  			{% for key,value in lastFilms %}
				<div {% if key == 0 %} id="itemactive" class="item active" {% else %} class="item" {% endif %} title="{{ value.title|escape('html') }}" synopsis="{{ value.synopsis|escape('html') }}" genre="{{ value.genre|escape('html') }}" file="{{ value.urlfile|escape('html') }}"  year="{{ value.year|escape('html') }}" actors="{{ value.actors|escape('html') }}" director="{{ value.director|escape('html') }}" runtime="{{ value.runtime|escape('html') }}" country="{{ value.country|escape('html') }}" >
					<div style="background:url({{ value.urlimagefile }}) top center; background-size:cover; background-position: 0px -100px; background-repeat:no-repeat;" class="slider-size" >
      					<!-- <div class="carousel-caption"><H2>{{ value.title }}</H2></div> -->
      					</div>
    				</div>
  			{% endfor %}
  			</div>
  			<!-- Controls -->
  			<a class="left carousel-control" href="javascript:void(0)" data-slide="prev" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="javascript:void(0)" data-slide="next" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
			</div>
		</div>
		<div id="newSynopsis" class="col-md-5"></div>
	</div>
      </div>
      <div class="tab-pane fade" id="films-genre">
	<div ALIGN=CENTER id="titlegenre" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div> 
	 <div class="row"> 
		<div class="tabbable nav-tabs" style="border-bottom: 0;">
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" > 
			<ul class="nav nav-pills nav-stacked" id="nav-genre">
			</ul>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<div class="tab-content" id="tab-content-genre"> 
			</div>	
		</div>
	 </div>
	</div> 
      </div>
      <div class="tab-pane fade" id="films-year">
        <div ALIGN=CENTER id="titleyear" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-year">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-content-year">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="films-country">
        <div ALIGN=CENTER id="titlecountry" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-country">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-content-country">
                        </div>
                </div>
         </div>
        </div>
      </div>

      <div class="tab-pane fade" id="series">
        <p>Liste des series, en construction ...</p>
      </div>
      {% if userAuth.is_granted_role("ROLE_ADMIN") %}
	<div class="tab-pane fade" id="indexes">
		<div class="row">
			<div class="col-md-12" >
				<div id="tab-content-indexes">
				<p>Indexation ...</p>
				</div>
			</div>
		</div>
	</div>
        {% endif %}

    </div>
  </div><!-- /example -->

<script>

function updateNews( selectdiv )
{
	var textYear = '';
	if( selectdiv.attr('year') !== '' )
		textYear = '<p style="display:inline; padding-right:1em;">[' + selectdiv.attr('year') + ']</p>';

	var textFile = '#';
	if( selectdiv.attr('file') !== '' )
		textFile = selectdiv.attr('file');			

	var textTitle = '';
	if( selectdiv.attr('title') !== '' )
                textTitle = '<h1 style="display:inline;" title="' + textFile + '">' + selectdiv.attr('title') + '</h1>'
	else
		textTitle = '<h3>' + textFile + '</h3>';

	var textCountry = '';
	if( selectdiv.attr('country') !== '' )
                textCountry = '<p style="display:inline; padding-right:1em;">(' + selectdiv.attr('country') + ')</p>'

	var textGenre = 'Non classé';
	if( selectdiv.attr('genre') !== '' )
		textGenre = '<h3 style="display:inline;">' + selectdiv.attr('genre') + '</h3>&nbsp;';
                //textGenre = '<h3 style="display:inline; padding-left:1em; padding-right:1em;">' + selectdiv.attr('genre') + '</h3>';

	var textDirector = '';
        if( selectdiv.attr('director') !== '' )
                textDirector = '<U><h4>De</h4></U>' + selectdiv.attr('director');

	var textActors = '';
        if( selectdiv.attr('actors') !== '' )
                textActors = '<U><h4>Avec</h4></U>' + selectdiv.attr('actors');

	var textRuntime = '';
	if( selectdiv.attr('runtime') !== '' )
		textRuntime = '<p style="display:inline; padding-right:1em;">Durée: ' + selectdiv.attr('runtime') + '</p>';

	var textSynopsis = '';
	if( selectdiv.attr('synopsis') !== '' )
		textSynopsis = '<U><h4>Synopsis</h4></U>' + selectdiv.attr('synopsis');

	$('#newSynopsis').html( '<a href="' + textFile  + '">' + textTitle + '</a>&nbsp;' + textCountry + '<br/><br/>' + textGenre + textYear + textRuntime + textDirector + textActors + textSynopsis );
};

function updateOrderType(orderType, orderTypeValue)
{
var trimOrderTypeValue = orderTypeValue.replace(/ /g, '').replace(/\./g, '');
var orderTypeValueSelected = $('#nav-' + orderType + ' .active').text();

if( $('#films-' + orderType + trimOrderTypeValue).html() === '' ) { //(genreselected !== genre  || force) ) {
$('#title' + orderType).html('<h1>Chargement de la liste des films ...</h1>');
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'films', order: orderType, value: orderTypeValue },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (data) {
	

		var tabhtmldatahtml = '';
                //var tabhtmldatahtml = '<div class="table-responsive"><TABLE class="table" border="0" WIDTH="100%" cellpadding="0">';
                for (var i = 0, len = data.length; i < len; i++) {
                        var value = data[i];
			tabhtmldatahtml += '<div class="row"><div class="col-md-12"><hr><h2>' + value.title + '</h2></div></div>';
			tabhtmldatahtml += '<div class="row"><div class="col-md-8">';
			if( typeof value.year !== 'undefined' && value.year !== null && value.year !== '' )
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + ' (' + value.year + ')<BR/>';
			else
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + '<BR/>';
			if( typeof value.director !== 'undefined' && value.director !== null && value.director !== '' )
				 tabhtmldatahtml += '<B>De :</B> ' + value.director + '<BR/>';
			if( typeof value.actors !== 'undefined' && value.actors !== null && value.actors !== '' )
                                 tabhtmldatahtml += '<B>Avec :</B> ' + value.actors + '<BR/>';
			if( typeof value.country !== 'undefined' && value.country !== null && value.country !== '' )
				tabhtmldatahtml += '<B>Pays :</B> ' + value.country + '<BR/>';
			if( typeof value.runtime !== 'undefined' && value.runtime !== null && value.runtime !== '' )
				tabhtmldatahtml += '<B>Fichier :</B><a href="' + value.urlfile + '"> ' + value.urlfile + '</a> (' + value.runtime + ')<BR/><BR/>';
			else
				tabhtmldatahtml += '<B>Fichier :</B><a href="' + value.urlfile + '"> ' + value.urlfile + '</a><BR/><BR/>';
			
			tabhtmldatahtml += value.synopsis + '</div>';
			if( typeof value.urlimagefile !== 'undefined' && value.urlimagefile !== null && value.urlimagefile !== '' )
				tabhtmldatahtml += '<div class="col-md-4"><div class="fadeover"><img class="img-thumbnail" src="' + value.urlimagefile + '" width="160"/></div></div>';
			tabhtmldatahtml += '</div>';	
                }

		//tabhtmldatahtml += '</TABLE></div>';
                $('#films-' + orderType + trimOrderTypeValue).html(tabhtmldatahtml);
		$('#title' + orderType).html('<H1>Envie de regarder des films dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#title' + orderType).attr('href');
        }
});
}
else
	{
		$('#title' + orderType).html('<H1>Envie de regarder des films dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#title' + orderType).attr('href');
	}
};

$(document).on('mouseover', '.fadeover', function(){
	$(this).animate({
            opacity: 0.6
        });
}); 

$(document).on('mouseout', '.fadeover', function(){
	$(this).stop(true, true).animate({
            opacity: 1
        });
});

$(document).ready( function () {
updateNews($('#itemactive'));


$('#fixedcarousel').bind('slide.bs.carousel', function (e) {
	updateNews( $(e.relatedTarget) );
	//var newDiv = $(e.relatedTarget);
	//$('#newSynopsis').html('<h2>Synopsis</h2>' + newDiv.attr('synopsis'));
});

function updateOrder(orderType)
{
var orderTypeValueSelected = $('#nav-' + orderType + ' .active').text();

if( orderTypeValueSelected === '') {
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'list' + orderType + 's' },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (data) {

                var navhtmldata = '';
		var tabhtmldata = '';
                for (var i = 0, len = data.length; i < len; i++) {
                        var orderTypeValue = data[i];
                        var trimOrderTypeValue = data[i].replace(/ /g, '').replace(/\./g, '');
                        if( i === 0 ) {
                                navhtmldata += '<li class="active" id="films-' + orderType + '-' + trimOrderTypeValue  +'" onclick="updateOrderType(\'' + orderType  + '\', \'' + orderTypeValue  + '\')"><a href="#films-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
				tabhtmldata += '<div class="tab-pane active" id="films-' + orderType + trimOrderTypeValue  + '"></div>';
			}
                        else {
                                navhtmldata += '<li id="films-' + orderType  + '-' + trimOrderTypeValue  + '" onclick="updateOrderType(\'' + orderType  + '\', \'' + orderTypeValue  + '\')"><a href="#films-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
				tabhtmldata += '<div class="tab-pane" id="films-' + orderType + trimOrderTypeValue  + '"></div>';
			}

                }
                $('#nav-' + orderType).html(navhtmldata);
		$('#tab-content-' + orderType).html(tabhtmldata);
		orderTypeValueSelected = $('#nav-' + orderType + ' .active').text();
        	updateOrderType(orderType, orderTypeValueSelected);
        }
});
}
};


function updateIndexes()
{
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'listdownloads' },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (mydata) {
		var data = mydata.list;
		var path = mydata.path;
                var tabhtmldata = '<h2>Vidéos du dossier ' + path + '</h2><br/><!-- <form name="formindexfiles" id="index_files" action="/Videos/web/app.php/indexation/action" method="post"> -->';
                for (var i = 0, len = data.length; i < len; i++) {
			tabhtmldata += '<div class="row"><div class="col-md-5"><h5 style="display:inline;">' + data[i] + '</h5></div><div class="col-md-7"> à renommer en <input name="' + data[i] + '" placeholder="' + data[i] + '"><br/></div></div><hr/>';
		}
		tabhtmldata += '<br/><!-- <input name="renommer" value="Renommer les fichiers" type="submit"><input name="indexer" value="Rechercher sur Allociné" type="submit"></form> --><div class="row"><div class="col-md-5"><button type="button" id="btnIndexRename" class="btn btn-primary btn-xs">Renommer les fichiers</button></div><div class="col-md-7"><button type="button" id="btnIndexSearch" class="btn btn-primary btn-xs">Rechercher sur Allociné</button></div></div><br/><br/>';
		$('#tab-content-indexes').html(tabhtmldata);
	}
	});	
};

$('#films-genre-tab').on('click', function (e) {
	updateOrder('genre');	
});

$('#films-year-tab').on('click', function (e) {
        updateOrder('year');
});

$('#films-country-tab').on('click', function (e) {
        updateOrder('country');
});


$('#indexes-tab').on('click', function (e) {
        updateIndexes();
});


});

</script>

{% endblock %}

{% block bottom %}
  {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

