{% extends "app.twig" %}

{% block title %}Perso{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}
  {{ parent() }}
{% endblock %}
{% block content %}    
<style >
<!-- @media (max-width: 425px) {
  #fixedcarousel .slider-size {
    height: 400px; //This is your slider height
    width: 250px;
  }
}
@media (min-width: 425px) {
  #fixedcarousel .slider-size {
    height: 400px; //This is your slider height
    width: 100%;
  }
-->

#fixedcarousel .slider-size {
    height: 500px; //This is your slider height
    width: 100%;
  }

}

</style>
<!-- Main jumbotron for a primary marketing message or call to action <div class="jumbotron"> </div> -->
<div><br/><br/><br/><br/></div>

<div class="container">
<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#news" data-toggle="tab">Nouveautés </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Films <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#films-genre" id="films-genre-tab" data-toggle="tab">genre</a></li>
          <li><a href="#films-year" id="films-year-tab"  data-toggle="tab">date</a></li>
        </ul>
      </li>
	<li><a href="#series" id="series-tab" data-toggle="tab">Series </a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="news">
	<div class="row">
		<div class="col-md-7" style="min-width: 410px">
 			<div id="fixedcarousel" class="carousel slide" data-ride="carousel">
  			<!-- Indicators -->
  			<ol class="carousel-indicators">
    			{% for key,value in lastFilms %}
				<li data-target="#fixedcarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %} ></li>
    			{% endfor %}
  			</ol>	
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
  			{% for key,value in lastFilms %}
				<div {% if key == 0 %} id="itemactive" class="item active" {% else %} class="item" {% endif %} title="{{ value.title|escape('html') }}" synopsis="{{ value.synopsis|escape('html') }}" genre="{{ value.genre|escape('html') }}" file="{{ value.urlfile|escape('html') }}"  year="{{ value.year|escape('html') }}" actors="{{ value.actors|escape('html') }}" director="{{ value.director|escape('html') }}" runtime="{{ value.runtime|escape('html') }}" country="{{ value.country|escape('html') }}" >
					<div style="background:url({{ value.urlimagefile }}) top center; background-size:cover; background-position: 0px -100px; background-repeat:no-repeat;" class="slider-size" >
      					<!-- <div class="carousel-caption"><H2>{{ value.title }}</H2></div> -->
      					</div>
    				</div>
  			{% endfor %}
  			</div>
  			<!-- Controls -->
  			<a class="left carousel-control" href="javascript:void(0)" data-slide="prev" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="javascript:void(0)" data-slide="next" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
			</div>
		</div>
		<div id="newSynopsis" class="col-md-5"></div>
	</div>
      </div>
      <div class="tab-pane fade" id="films-genre">

	<p><a id="titleGenre" href="#"></a></p>
	 <div class="row">
		<div class="tabbable nav-tabs" style="border-bottom: 0;">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3" style="min-width: 150px">
			<ul class="nav nav-pills nav-stacked" id="nav-genre">
  			<!-- 	<li class="active" id="films-genre-action"><a href="#films-genreaction" data-toggle="tab">Action</a></li>
  				<li><a href="#films-genreaventure" data-toggle="tab">Aventure</a></li>
  				<li><a href="#films-genresciencefiction" data-toggle="tab">Science fiction</a></li> -->
			</ul>
		</div>
		<div class="col-xs-5 col-sm-7 col-md-9 col-lg-9">
			<div class="tab-content" id="tab-content-genre"> 
			</div>	
		</div>
			</div>
	</div>
      </div>
      <div class="tab-pane fade" id="films-year">
	<p>Liste des films triés par date, en construction ...</p>
      </div>

      <div class="tab-pane fade" id="series">
        <p>Liste des series, en construction ...</p>
      </div>
    </div>
  </div><!-- /example -->

<script>

function updateNews( selectdiv )
{
	var textYear = '';
	if( selectdiv.attr('year') !== '' )
		textYear = '<p style="display:inline; padding-right:1em;">[' + selectdiv.attr('year') + ']</p>';

	var textFile = '#';
	if( selectdiv.attr('file') !== '' )
		textFile = selectdiv.attr('file');			

	var textTitle = '';
	if( selectdiv.attr('title') !== '' )
                textTitle = '<h1 style="display:inline;">' + selectdiv.attr('title') + '</h1>'
	else
		textTitle = '<h3>' + textFile + '</h3>';

	var textCountry = '';
	if( selectdiv.attr('country') !== '' )
                textCountry = '<p style="display:inline; padding-right:1em;">(' + selectdiv.attr('country') + ')</p>'

	var textGenre = 'Non classé';
	if( selectdiv.attr('genre') !== '' )
		textGenre = '<h3 style="display:inline;">' + selectdiv.attr('genre') + '</h3>&nbsp;';
                //textGenre = '<h3 style="display:inline; padding-left:1em; padding-right:1em;">' + selectdiv.attr('genre') + '</h3>';

	var textDirector = '';
        if( selectdiv.attr('director') !== '' )
                textDirector = '<U><h4>De</h4></U>' + selectdiv.attr('director');

	var textActors = '';
        if( selectdiv.attr('actors') !== '' )
                textActors = '<U><h4>Avec</h4></U>' + selectdiv.attr('actors');

	var textRuntime = '';
	if( selectdiv.attr('runtime') !== '' )
		textRuntime = '<p style="display:inline; padding-right:1em;">Durée: ' + selectdiv.attr('runtime') + '</p>';

	var textSynopsis = '';
	if( selectdiv.attr('synopsis') !== '' )
		textSynopsis = '<U><h4>Synopsis</h4></U>' + selectdiv.attr('synopsis');

	$('#newSynopsis').html( '<a href="' + textFile  + '">' + textTitle + '</a>&nbsp;' + textCountry + '<br/><br/>' + textGenre + textYear + textRuntime + textDirector + textActors + textSynopsis );
};

function updateGenreType(type)
{
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'films', order: 'genre', value: type },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (data) {
                var genre = type;
                var trimgenre = type.replace(/ /g, '');
                var tabhtmldatahtml = '';
                for (var i = 0, len = data.length; i < len; i++) {
                        var value = data[i];
                        tabhtmldatahtml += value.urlimagefile + ' ' + value.title + ' ' + value.synopsis + ' ' + value.urlfile + ' ' + value.year + ' ' + value.actors + ' ' + value.director + ' ' + value.runtime + ' ' + value.country + '<br/>';
                }

                $('#films-genre' + trimgenre).html(tabhtmldatahtml);
		window.location = $('#titleGenre').attr('href');
		//$('#titleGenre').trigger("click");
		//$('#titleGenre').click();
		//window.location.hash = $('#titleGenre');
                //alert(data);
        }
	//window.location.hash = $('#titleGenre');
	//$('#titleGenre').trigger("click");
});

};



$(document).ready( function () {
	updateNews($('#itemactive'));


/*$('#myTab a').click(function (e) {
  e.preventDefault();
  //alert( e.html() ):
  $(this).tab('show')
});*/

$('#fixedcarousel').bind('slide.bs.carousel', function (e) {
	updateNews( $(e.relatedTarget) );
	//var newDiv = $(e.relatedTarget);
	//$('#newSynopsis').html('<h2>Synopsis</h2>' + newDiv.attr('synopsis'));
});

function updateGenre()
{
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'listgenres' },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (data) {

                var navhtmldata = '';
		var tabhtmldata = '';
                for (var i = 0, len = data.length; i < len; i++) {
                        var genre = data[i];
                        var trimgenre = data[i].replace(/ /g, '');
                        if( i === 0 ) {
                                navhtmldata += '<li class="active" id="films-genre-' + trimgenre  +'" onclick="updateGenreType(\'' + genre  + '\')"><a href="#films-genre' + trimgenre  + '" data-toggle="tab">' + genre + '</a></li>';
				tabhtmldata += '<div class="tab-pane active" id="films-genre' + trimgenre  + '"></div>';
			}
                        else {
                                navhtmldata += '<li id="films-genre-' + trimgenre  + '" onclick="updateGenreType(\'' + genre  + '\')"><a href="#films-genre' + trimgenre  + '" data-toggle="tab">' + genre + '</a></li>';
				tabhtmldata += '<div class="tab-pane" id="films-genre' + trimgenre  + '"></div>';
			}
			//$('#dynscript').replaceWith('<script>$(\'#films-genreAction\').on(\'click\', function (e) { alert(\'click genre Action\'); });');

                }
                $('#nav-genre').html(navhtmldata);
		$('#tab-content-genre').html(tabhtmldata);
                //alert(data);
        }
});

};

$('#films-genre-tab').on('click', function (e) {
	updateGenre();	
	updateGenreType('Action');
});


$('#navfilms-genreAction').on('click', function (e) {
 alert('click genre action 1');
});

$('#films-genreAction').on('click', function (e) {
 alert('click genre action 2');
});

$('#films-genreaction').on('click', function (e) {
 alert('click genre action 3');
});

});

</script>
<div id="dynscript"></div>

{% endblock %}

{% block bottom %}
  {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

